{% extends 'workload/base.html' %}
{% load static %}
{% block content %}
<main class="tab6">
    <section class="table_header-v-faculty"><h1>Department Portfolio</h1></section>
    <section class="dbox">
        {% for i in duties %}
        <h5 class='academic_details ad1'> {{i}} </h5>
       {% endfor %}
    </section>
    <section>
        <table>
            <tbody>
                {% if details %}
                    {% for i in details %}
                        <tr>
                            <td>{{ i }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}